Repository PWR-ACS-SE-24/SoftwareSystemDesign, changes with the owners that CODEOWNERS names for each.
All owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: Infrastructure health for Jobberknoll (#58)
  implementation/jobberknoll/api/int/contracts/endpoints-dto.ts
  implementation/jobberknoll/api/int/contracts/health-dto.ts
  implementation/jobberknoll/api/int/contracts/mod.ts
  implementation/jobberknoll/api/int/int-controller.ts
  implementation/jobberknoll/api/int/routes/get-endpoints-route.ts
  implementation/jobberknoll/api/int/routes/get-health-route.ts
  implementation/jobberknoll/api/int/routes/mod.ts
  implementation/jobberknoll/app/interfaces/account-repo.ts
  implementation/jobberknoll/app/interfaces/logger.ts
  implementation/jobberknoll/app/interfaces/mod.ts
  implementation/jobberknoll/app/interfaces/monitorable.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/shared/health.ts
  implementation/jobberknoll/app/use-cases/get-health-use-case.test.ts
  implementation/jobberknoll/app/use-cases/get-health-use-case.ts
  implementation/jobberknoll/app/use-cases/use-case.ts
  implementation/jobberknoll/infra/account-repo/memory-account-repo.test.ts
  implementation/jobberknoll/infra/account-repo/memory-account-repo.ts
  implementation/jobberknoll/infra/account-repo/postgres-account-repo.ts
  implementation/jobberknoll/tests/endpoints-e2e.test.ts
  implementation/jobberknoll/tests/health-e2e.test.ts
Owners: @tchojnacki

Add Route functionality
  implementation/leprechaun/README.md
  implementation/leprechaun/src/line/controller/line.controller.ts
  implementation/leprechaun/src/line/database/line.entity.ts
  implementation/leprechaun/src/line/service/line.service.ts
  implementation/leprechaun/src/line/test/line.controller.spec.ts
  implementation/leprechaun/src/route/controller/route-create.dto.ts
  implementation/leprechaun/src/route/controller/route.controller.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/route/database/route.entity.ts
  implementation/leprechaun/src/route/route.module.ts
  implementation/leprechaun/src/route/service/route.service.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
  implementation/leprechaun/src/shared/api/date-larger.validator.ts
  implementation/leprechaun/src/shared/test/date-larger.validator.spec.ts
  implementation/leprechaun/src/shared/test/validation.service.spec.ts
  implementation/leprechaun/src/stop/controller/stop.controller.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.controller.ts
  implementation/leprechaun/src/vehicle/database/vehicle.entity.ts
  implementation/leprechaun/src/vehicle/service/vehicle.service.ts
  implementation/leprechaun/src/vehicle/vehicle.module.ts
Owners: @mlodybercik

Add tests
  implementation/leprechaun/src/route/controller/route-create.dto.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
Owners: @mlodybercik

Implement GET /self
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/contracts/create-account-dto.ts
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/routes/get-self-route.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/app/interfaces/logger.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.ts
  implementation/jobberknoll/tests/create-account-e2e.test.ts
  implementation/jobberknoll/tests/get-account-by-id-e2e.test.ts
  implementation/jobberknoll/tests/get-self-e2e.test.ts
Owners: @tchojnacki

Implement account name editing
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/contracts/edit-account-name-dto.ts
  implementation/jobberknoll/api/ext/contracts/mod.ts
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/routes/edit-self-name-route.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/api/shared/docs.ts
  implementation/jobberknoll/app/interfaces/account-repo.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.test.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.ts
  implementation/jobberknoll/app/use-cases/delete-account-use-case.test.ts
  implementation/jobberknoll/app/use-cases/delete-account-use-case.ts
  implementation/jobberknoll/app/use-cases/edit-account-name-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-name-use-case.ts
  implementation/jobberknoll/app/use-cases/get-account-by-id-use-case.test.ts
  implementation/jobberknoll/app/use-cases/get-health-use-case.ts
  implementation/jobberknoll/app/use-cases/mod.ts
  implementation/jobberknoll/infra/account-repo/memory-account-repo.test.ts
  implementation/jobberknoll/infra/account-repo/memory-account-repo.ts
  implementation/jobberknoll/infra/account-repo/postgres-account-repo.ts
  implementation/jobberknoll/infra/logger/test-logger.test.ts
  implementation/jobberknoll/tests/delete-account-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-name-e2e.test.ts
  implementation/jobberknoll/tests/get-self-e2e.test.ts
Owners: @tchojnacki

Implement phone number editing
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/contracts/edit-account-phone-dto.ts
  implementation/jobberknoll/api/ext/contracts/mod.ts
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/routes/edit-self-phone-route.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/api/shared/contracts/account-dto.ts
  implementation/jobberknoll/app/interfaces/account-repo.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/use-cases/edit-account-name-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-phone-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-phone-use-case.ts
  implementation/jobberknoll/app/use-cases/mod.ts
  implementation/jobberknoll/infra/account-repo/memory-account-repo.test.ts
  implementation/jobberknoll/infra/account-repo/memory-account-repo.ts
  implementation/jobberknoll/infra/account-repo/postgres-account-repo.ts
  implementation/jobberknoll/tests/edit-self-name-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-phone-e2e.test.ts
Owners: @tchojnacki

Implement account deletion
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/contracts/create-account-dto.ts
  implementation/jobberknoll/api/ext/contracts/edit-account-name-dto.ts
  implementation/jobberknoll/api/ext/contracts/edit-account-phone-dto.ts
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/routes/delete-self-route.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/api/shared/contracts/account-dto.ts
  implementation/jobberknoll/app/shared/mod.ts
  implementation/jobberknoll/app/shared/schemas.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.test.ts
  implementation/jobberknoll/tests/create-account-e2e.test.ts
  implementation/jobberknoll/tests/delete-account-e2e.test.ts
  implementation/jobberknoll/tests/delete-self-e2e.test.ts
  implementation/jobberknoll/tests/get-account-by-id-e2e.test.ts
Owners: @tchojnacki

Fix issues
  implementation/leprechaun/README.md
  implementation/leprechaun/jest.config.ts
  implementation/leprechaun/src/route/controller/route-create.dto.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/route/database/route.entity.ts
  implementation/leprechaun/src/route/service/route.service.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
  implementation/leprechaun/src/shared/api/date-larger.validator.ts
  implementation/leprechaun/src/shared/api/http-exception.filter.ts
  implementation/leprechaun/src/shared/api/http-exceptions.ts
  implementation/leprechaun/src/shared/test/date-larger.validator.spec.ts
Owners: @mlodybercik

Implement password changes
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/contracts/create-account-dto.ts
  implementation/jobberknoll/api/ext/contracts/edit-account-name-dto.ts
  implementation/jobberknoll/api/ext/contracts/edit-account-password-dto.ts
  implementation/jobberknoll/api/ext/contracts/edit-account-phone-dto.ts
  implementation/jobberknoll/api/ext/contracts/mod.ts
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/routes/edit-self-password-route.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/api/int/routes/get-endpoints-route.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.test.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.ts
  implementation/jobberknoll/app/use-cases/delete-account-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-name-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-password-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-password-use-case.ts
  implementation/jobberknoll/app/use-cases/edit-account-phone-use-case.test.ts
  implementation/jobberknoll/app/use-cases/get-account-by-id-use-case.test.ts
  implementation/jobberknoll/app/use-cases/mod.ts
  implementation/jobberknoll/tests/create-account-e2e.test.ts
  implementation/jobberknoll/tests/delete-account-e2e.test.ts
  implementation/jobberknoll/tests/delete-self-e2e.test.ts
  implementation/jobberknoll/tests/edit-account-password-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-name-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-phone-e2e.test.ts
  implementation/jobberknoll/tests/get-account-by-id-e2e.test.ts
  implementation/jobberknoll/tests/get-self-e2e.test.ts
Owners: @tchojnacki

Implement account registration
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/contracts/mod.ts
  implementation/jobberknoll/api/ext/contracts/register-dto.ts
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/api/ext/routes/register-route.ts
  implementation/jobberknoll/api/int/routes/get-endpoints-route.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.test.ts
  implementation/jobberknoll/app/use-cases/mod.ts
  implementation/jobberknoll/app/use-cases/register-use-case.test.ts
  implementation/jobberknoll/app/use-cases/register-use-case.ts
  implementation/jobberknoll/tests/create-account-e2e.test.ts
  implementation/jobberknoll/tests/register-e2e.test.ts
Owners: @tchojnacki

Fix public types for schemas
  implementation/jobberknoll/app/shared/schemas.ts
Owners: @tchojnacki

Update password requirements
  implementation/jobberknoll/api/ext/contracts/create-account-dto.ts
  implementation/jobberknoll/api/ext/contracts/register-dto.ts
  implementation/jobberknoll/app/shared/schemas.ts
Owners: @tchojnacki

Fix password tests
  implementation/jobberknoll/app/shared/schemas.ts
Owners: @tchojnacki

PR: `leprechaun` add `Route` functionality (#60)
  implementation/leprechaun/README.md
  implementation/leprechaun/jest.config.ts
  implementation/leprechaun/src/line/controller/line.controller.ts
  implementation/leprechaun/src/line/database/line.entity.ts
  implementation/leprechaun/src/line/service/line.service.ts
  implementation/leprechaun/src/line/test/line.controller.spec.ts
  implementation/leprechaun/src/route/controller/route-create.dto.ts
  implementation/leprechaun/src/route/controller/route.controller.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/route/database/route.entity.ts
  implementation/leprechaun/src/route/route.module.ts
  implementation/leprechaun/src/route/service/route.service.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
  implementation/leprechaun/src/shared/api/date-larger.validator.ts
  implementation/leprechaun/src/shared/api/http-exception.filter.ts
  implementation/leprechaun/src/shared/api/http-exceptions.ts
  implementation/leprechaun/src/shared/test/date-larger.validator.spec.ts
  implementation/leprechaun/src/shared/test/validation.service.spec.ts
  implementation/leprechaun/src/stop/controller/stop.controller.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.controller.ts
  implementation/leprechaun/src/vehicle/database/vehicle.entity.ts
  implementation/leprechaun/src/vehicle/service/vehicle.service.ts
  implementation/leprechaun/src/vehicle/vehicle.module.ts
Owners: @mlodybercik

Adjust password and phone requirements
  implementation/jobberknoll/api/ext/contracts/create-account-dto.ts
  implementation/jobberknoll/api/ext/contracts/edit-account-password-dto.ts
  implementation/jobberknoll/api/ext/contracts/edit-account-phone-dto.ts
  implementation/jobberknoll/api/ext/contracts/register-dto.ts
  implementation/jobberknoll/api/shared/contracts/account-dto.ts
  implementation/jobberknoll/api/shared/mappers/account-mapper.test.ts
  implementation/jobberknoll/app/shared/schemas.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-phone-use-case.test.ts
  implementation/jobberknoll/app/use-cases/register-use-case.test.ts
  implementation/jobberknoll/tests/create-account-e2e.test.ts
  implementation/jobberknoll/tests/edit-account-password-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-phone-e2e.test.ts
  implementation/jobberknoll/tests/register-e2e.test.ts
Owners: @tchojnacki

Add first version of E2b draft
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

starting setup of api gateway
  implementation/phoenix/.gitattributes
  implementation/phoenix/.gitignore
  implementation/phoenix/.mvn/wrapper/maven-wrapper.properties
  implementation/phoenix/mvnw
  implementation/phoenix/mvnw.cmd
  implementation/phoenix/pom.xml
  implementation/phoenix/src/main/java/com/example/phoenix/AddRequestIdFilter.java
  implementation/phoenix/src/main/java/com/example/phoenix/PhoenixApplication.java
  implementation/phoenix/src/main/resources/application.properties
  implementation/phoenix/src/main/resources/application.yml
  implementation/phoenix/src/test/java/com/example/phoenix/PhoenixApplicationTests.java
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add the checklist
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

fix uuid generating and yml file
  implementation/phoenix/.gitattributes
  implementation/phoenix/pom.xml
  implementation/phoenix/src/main/java/com/example/phoenix/AddRequestIdFilter.java
  implementation/phoenix/src/main/java/com/example/phoenix/UUIDv7Generator.java
  implementation/phoenix/src/main/resources/application.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Address review comments
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update filter
  implementation/phoenix/.gitattributes
  implementation/phoenix/src/main/java/com/example/phoenix/AddRequestIdFilter.java
  implementation/phoenix/src/main/java/com/example/phoenix/UUIDv7Generator.java
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: E2b template (#62)
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add dockerfile and compose
  implementation/phoenix/.gitignore
  implementation/phoenix/Dockerfile
  implementation/phoenix/compose.yml
  implementation/phoenix/pom.xml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update dockerfile
  implementation/phoenix/Dockerfile
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: Setup Api Gateway (#63)
  implementation/phoenix/.gitattributes
  implementation/phoenix/.gitignore
  implementation/phoenix/.mvn/wrapper/maven-wrapper.properties
  implementation/phoenix/Dockerfile
  implementation/phoenix/compose.yml
  implementation/phoenix/mvnw
  implementation/phoenix/mvnw.cmd
  implementation/phoenix/pom.xml
  implementation/phoenix/src/main/java/com/example/phoenix/AddRequestIdFilter.java
  implementation/phoenix/src/main/java/com/example/phoenix/PhoenixApplication.java
  implementation/phoenix/src/main/java/com/example/phoenix/UUIDv7Generator.java
  implementation/phoenix/src/main/resources/application.properties
  implementation/phoenix/src/main/resources/application.yml
  implementation/phoenix/src/test/java/com/example/phoenix/PhoenixApplicationTests.java
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Accident functionality
  implementation/leprechaun/README.md
  implementation/leprechaun/src/accident/accident.module.ts
  implementation/leprechaun/src/accident/controller/accident-create.dto.ts
  implementation/leprechaun/src/accident/controller/accident.controller.ts
  implementation/leprechaun/src/accident/controller/accident.dto.ts
  implementation/leprechaun/src/accident/database/accident.entity.ts
  implementation/leprechaun/src/accident/service/accident.service.ts
  implementation/leprechaun/src/accident/test/accident.controller.spec.ts
  implementation/leprechaun/src/line/controller/line.dto.ts
  implementation/leprechaun/src/line/database/line.entity.ts
  implementation/leprechaun/src/line/database/stop-line-mapping.entity.ts
  implementation/leprechaun/src/route/controller/route.controller.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/route/database/route.entity.ts
  implementation/leprechaun/src/route/route.module.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
  implementation/leprechaun/src/shared/api/generic.dto.ts
  implementation/leprechaun/src/shared/api/not-in-future.validator.ts
  implementation/leprechaun/src/shared/test/is-later-than.validator.spec.ts
  implementation/leprechaun/src/shared/test/is-not-in-future.validator.spec.ts
  implementation/leprechaun/src/stop/controller/stop.dto.ts
  implementation/leprechaun/src/stop/database/stop.entity.ts
  implementation/leprechaun/src/stop/service/stop.service.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.dto.ts
  implementation/leprechaun/src/vehicle/database/vehicle.entity.ts
Owners: @mlodybercik

Implement password hashing
  documentation/adrs/003-password-hashing.md
  implementation/jobberknoll/Dockerfile
  implementation/jobberknoll/app/security/hash.test.ts
  implementation/jobberknoll/app/security/mod.ts
  implementation/jobberknoll/app/security/passwords.test.ts
  implementation/jobberknoll/app/security/passwords.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.test.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.ts
  implementation/jobberknoll/app/use-cases/edit-account-password-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-password-use-case.ts
  implementation/jobberknoll/app/use-cases/register-use-case.test.ts
  implementation/jobberknoll/app/use-cases/register-use-case.ts
  implementation/jobberknoll/core/shared/mocks.ts
  implementation/jobberknoll/deno.json
  implementation/jobberknoll/deno.lock
  implementation/jobberknoll/infra/account-repo/postgres-account-repo.ts
  implementation/jobberknoll/setup.ts
  implementation/jobberknoll/tests/delete-self-e2e.test.ts
  implementation/jobberknoll/tests/edit-account-password-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-name-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-phone-e2e.test.ts
  implementation/jobberknoll/tests/get-self-e2e.test.ts
  implementation/jobberknoll/tests/health-e2e.test.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Update the documentation
  documentation/adrs/003-password-hashing.md
  documentation/course/e3/README.md
  implementation/jobberknoll/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Remove erroneous ignore from tests
  implementation/jobberknoll/app/use-cases/edit-account-password-use-case.test.ts
  implementation/jobberknoll/app/use-cases/register-use-case.test.ts
Owners: @tchojnacki

Fix linter errors
  implementation/jobberknoll/app/security/passwords.ts
Owners: @tchojnacki

Remove the compile step from CI/CD
  .github/workflows/jobberknoll.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add missing ADR link
  implementation/jobberknoll/README.md
Owners: @tchojnacki

Bump service version
  implementation/jobberknoll/deno.json
Owners: @tchojnacki

Address PR comments
  implementation/leprechaun/src/accident/controller/accident-create.dto.ts
  implementation/leprechaun/src/accident/controller/accident.controller.ts
  implementation/leprechaun/src/accident/controller/accident.dto.ts
  implementation/leprechaun/src/accident/service/accident.service.ts
  implementation/leprechaun/src/accident/test/accident.controller.spec.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
  implementation/leprechaun/src/shared/test/helpers.ts
  implementation/leprechaun/src/shared/test/is-not-in-future.validator.spec.ts
Owners: @mlodybercik

PR: `leprechaun` add `Accident` functionality. (#64)
  implementation/leprechaun/README.md
  implementation/leprechaun/src/accident/accident.module.ts
  implementation/leprechaun/src/accident/controller/accident-create.dto.ts
  implementation/leprechaun/src/accident/controller/accident.controller.ts
  implementation/leprechaun/src/accident/controller/accident.dto.ts
  implementation/leprechaun/src/accident/database/accident.entity.ts
  implementation/leprechaun/src/accident/service/accident.service.ts
  implementation/leprechaun/src/accident/test/accident.controller.spec.ts
  implementation/leprechaun/src/line/controller/line.dto.ts
  implementation/leprechaun/src/line/database/line.entity.ts
  implementation/leprechaun/src/line/database/stop-line-mapping.entity.ts
  implementation/leprechaun/src/route/controller/route.controller.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/route/database/route.entity.ts
  implementation/leprechaun/src/route/route.module.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
  implementation/leprechaun/src/shared/api/generic.dto.ts
  implementation/leprechaun/src/shared/api/not-in-future.validator.ts
  implementation/leprechaun/src/shared/test/helpers.ts
  implementation/leprechaun/src/shared/test/is-later-than.validator.spec.ts
  implementation/leprechaun/src/shared/test/is-not-in-future.validator.spec.ts
  implementation/leprechaun/src/stop/controller/stop.dto.ts
  implementation/leprechaun/src/stop/database/stop.entity.ts
  implementation/leprechaun/src/stop/service/stop.service.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.dto.ts
  implementation/leprechaun/src/vehicle/database/vehicle.entity.ts
Owners: @mlodybercik

WIP
  documentation/adrs/001-jobberknoll-api-structure.md
  implementation/feather/api.ts
  implementation/feather/contracts/health-dto.ts
  implementation/feather/contracts/mod.ts
  implementation/feather/contracts/verification-dto.ts
  implementation/feather/deno.json
  implementation/feather/deno.lock
  implementation/feather/jwks-provider/jobberknoll-jwks-provider.ts
  implementation/feather/jwks-provider/jwks-provider.ts
  implementation/feather/jwks-provider/mock-jwks-provider.ts
  implementation/feather/jwks-provider/mod.ts
  implementation/feather/main.ts
  implementation/feather/routes/health-route.ts
  implementation/feather/routes/mod.ts
  implementation/feather/routes/verify-route.ts
  implementation/feather/setup.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Treat DTO's as interfaces
  implementation/leprechaun/README.md
  implementation/leprechaun/src/accident/controller/accident-create.dto.ts
  implementation/leprechaun/src/accident/controller/accident.dto.ts
  implementation/leprechaun/src/internal/controller/healthcheck.dto.ts
  implementation/leprechaun/src/internal/controller/routes.dto.ts
  implementation/leprechaun/src/internal/service/monitoring.service.ts
  implementation/leprechaun/src/line/controller/line-create.dto.ts
  implementation/leprechaun/src/line/controller/line.dto.ts
  implementation/leprechaun/src/line/test/line.controller.spec.ts
  implementation/leprechaun/src/route/controller/route-create.dto.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/shared/api/generic-paginated.dto.ts
  implementation/leprechaun/src/shared/api/generic.dto.ts
  implementation/leprechaun/src/shared/test/validation.service.spec.ts
  implementation/leprechaun/src/stop/controller/stop-create.dto.ts
  implementation/leprechaun/src/stop/controller/stop.dto.ts
  implementation/leprechaun/src/stop/test/stop.controller.spec.ts
  implementation/leprechaun/src/vehicle/controller/vehicle-create.dto.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.dto.ts
  implementation/leprechaun/src/vehicle/test/vehicle.controller.spec.ts
Owners: @mlodybercik

Add checklist
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add internal endpoints to README
  implementation/leprechaun/README.md
Owners: @mlodybercik

Move colors to side
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

CODEOWNERS:

* @tchojnacki @jakubzehner @mlodybercik @piterek130 
/implementation/jobberknoll @tchojnacki
/implementation/clabbert @jakubzehner
/implementation/leprechaun @mlodybercik
/implementation/inferius @piterek130
