Repository PWR-ACS-SE-24/SoftwareSystemDesign, changes with the owners that CODEOWNERS names for each.
All owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Document error type
  documentation/contracts.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Fix formatting
  implementation/jobberknoll/app/security/redaction.test.ts
Owners: @tchojnacki

Remove ignore from test
  implementation/jobberknoll/app/security/jwt.test.ts
Owners: @tchojnacki

update checking negative values
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/Fine.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/Wallet.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletHistory.java
Owners: @piterek130

added messages to notnull
  implementation/inferius/.gitignore
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardInfo.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/Fine.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/GlobalExceptionHandler.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/controller/WalletController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/Wallet.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletHistory.java
  implementation/inferius/src/main/resources/application.yml
Owners: @piterek130

Filters
  implementation/leprechaun/README.md
  implementation/leprechaun/src/accident/controller/accident-filter.decorator.ts
  implementation/leprechaun/src/accident/controller/accident.controller.ts
  implementation/leprechaun/src/accident/database/accident.entity.ts
  implementation/leprechaun/src/accident/service/accident.service.ts
  implementation/leprechaun/src/accident/test/accident-filter.spec.ts
  implementation/leprechaun/src/internal/controller/internal-vehicles.controller.ts
  implementation/leprechaun/src/internal/controller/monitoring.controller.ts
  implementation/leprechaun/src/internal/internal.module.ts
  implementation/leprechaun/src/internal/test/internal-vehicles.controller.spec.ts
  implementation/leprechaun/src/line/controller/line-filter.decorator.ts
  implementation/leprechaun/src/line/controller/line.controller.ts
  implementation/leprechaun/src/line/service/line.service.ts
  implementation/leprechaun/src/line/test/line-filter.spec.ts
  implementation/leprechaun/src/route/controller/route-filter.decorator.ts
  implementation/leprechaun/src/route/controller/route.controller.ts
  implementation/leprechaun/src/route/service/route.service.ts
  implementation/leprechaun/src/route/test/route-filter.spec.ts
  implementation/leprechaun/src/shared/api/filter.ts
  implementation/leprechaun/src/shared/test/filter.spec.ts
  implementation/leprechaun/src/shared/test/helpers.ts
  implementation/leprechaun/src/stop/controller/stop-filter.decorator.ts
  implementation/leprechaun/src/stop/controller/stop.controller.ts
  implementation/leprechaun/src/stop/service/stop.service.ts
  implementation/leprechaun/src/vehicle/controller/vehicle-filter.decorator.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.controller.ts
  implementation/leprechaun/src/vehicle/service/vehicle.service.ts
  implementation/leprechaun/src/vehicle/test/vehicle-filter.spec.ts
Owners: @mlodybercik

add CI workflow
  .github/workflows/inferius.yml
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/InfoHeaderInterceptorTest.java
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

fix
  .github/workflows/inferius.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

test
  implementation/inferius/src/main/resources/application.yml
Owners: @piterek130

update ci
  .github/workflows/inferius.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

test
  .github/workflows/inferius.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

test
  .github/workflows/inferius.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update ci
  .github/workflows/inferius.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update CI
  .github/workflows/inferius.yml
  implementation/inferius/pom.xml
  implementation/inferius/src/test/resources/application-test.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update
  .github/workflows/inferius.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

back to previous CI
  .github/workflows/inferius.yml
  implementation/inferius/pom.xml
  implementation/inferius/src/test/resources/application-test.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

delete messages from restrictions
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardInfo.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/Fine.java
Owners: @piterek130

Change Dto's assign method
  implementation/leprechaun/src/accident/controller/accident.dto.ts
  implementation/leprechaun/src/line/controller/line.dto.ts
  implementation/leprechaun/src/line/database/line.entity.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/shared/api/generic-paginated.dto.ts
  implementation/leprechaun/src/stop/controller/stop.dto.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.dto.ts
  implementation/leprechaun/src/vehicle/database/vehicle.entity.ts
  implementation/leprechaun/src/vehicle/test/vehicle-filter.spec.ts
Owners: @mlodybercik

Fixed database race condition and found a *BUG*
  implementation/leprechaun/README.md
  implementation/leprechaun/jest.config.ts
  implementation/leprechaun/src/accident/database/accident.entity.ts
  implementation/leprechaun/src/accident/test/accident-filter.spec.ts
  implementation/leprechaun/src/accident/test/accident.controller.spec.ts
  implementation/leprechaun/src/config/mikro-orm.test.config.ts
  implementation/leprechaun/src/internal/test/internal-vehicles.controller.spec.ts
  implementation/leprechaun/src/line/database/line.entity.ts
  implementation/leprechaun/src/line/test/line-filter.spec.ts
  implementation/leprechaun/src/line/test/line.controller.spec.ts
  implementation/leprechaun/src/route/database/route.entity.ts
  implementation/leprechaun/src/route/test/route-filter.spec.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
  implementation/leprechaun/src/shared/test/helpers.ts
  implementation/leprechaun/src/stop/database/stop.entity.ts
  implementation/leprechaun/src/stop/test/stop.controller.spec.ts
  implementation/leprechaun/src/test-setup.ts
  implementation/leprechaun/src/test-teardown.ts
  implementation/leprechaun/src/vehicle/database/vehicle.entity.ts
  implementation/leprechaun/src/vehicle/test/vehicle-filter.spec.ts
  implementation/leprechaun/src/vehicle/test/vehicle.controller.spec.ts
Owners: @mlodybercik

add get cards, wallet, wallet-history
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/controller/CreditCardInfoController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardInfoRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/service/CreditCardInfoService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/GlobalExceptionHandler.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/ResourceNotFoundException.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/seeder/DatabaseSeeder.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/controller/WalletController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/controller/WalletControllerTesty.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletHistoryDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletHistoryRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/service/WalletService.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/CreditCardInfoControllerTest.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/exceptions/InfoHeaderInterceptorTest.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/exceptions/UnauthorizedExceptionTest.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/exceptions/UserHeaderInterceptorTest.java
Owners: @piterek130

implement requests to internal services
  implementation/clabbert/README.md
  implementation/clabbert/build.gradle
  implementation/clabbert/compose.yml
  implementation/clabbert/internal-services-mock/Dockerfile
  implementation/clabbert/internal-services-mock/main.py
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/middlewares/ApiExceptionHandler.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/middlewares/InfoHeaderInterceptor.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/abstractions/internalservices/inferius/InferiusService.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/abstractions/internalservices/inferius/dtos/ChargeRequestDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/abstractions/internalservices/lepreachaun/LeprechaunService.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/abstractions/internalservices/lepreachaun/dtos/RouteIdResponseDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/infrastructure/internalservices/inferius/.gitkeep
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/infrastructure/internalservices/inferius/InferiusHealthIndicator.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/infrastructure/internalservices/inferius/InferiusRestService.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/infrastructure/internalservices/leprechaun/.gitkeep
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/infrastructure/internalservices/leprechaun/LeprechaunHealthIndicator.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/infrastructure/internalservices/leprechaun/LeprechaunRestService.java
Owners: @jakubzehner

change to take version from properties
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/InfoHeaderInterceptor.java
  implementation/inferius/src/main/resources/application.properties
  implementation/phoenix/compose.yml
  implementation/phoenix/src/main/resources/application.properties
  implementation/phoenix/src/main/resources/application.yml
Owners: @piterek130, @tchojnacki, @jakubzehner, @mlodybercik

fix config
  implementation/phoenix/src/main/resources/application.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add get fines
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/controller/FineController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/service/FineService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/controller/WalletController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/controller/WalletControllerTesty.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletHistoryRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/service/WalletService.java
Owners: @piterek130

add get fines by id
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/controller/FineController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/service/FineService.java
Owners: @piterek130

add put cancel fine
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/controller/FineController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/service/FineService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/GlobalExceptionHandler.java
Owners: @piterek130

Set up Feather health and providers
  implementation/feather/README.md
  implementation/feather/api.ts
  implementation/feather/contracts/health-dto.ts
  implementation/feather/contracts/mod.ts
  implementation/feather/contracts/verification-dto.ts
  implementation/feather/deno.json
  implementation/feather/deno.lock
  implementation/feather/jwks-provider/jobberknoll-jwks-provider.ts
  implementation/feather/jwks-provider/jwks-provider.ts
  implementation/feather/jwks-provider/mock-jwks-provider.ts
  implementation/feather/main.ts
  implementation/feather/routes/health-route.ts
  implementation/feather/setup.ts
  implementation/feather/util/metadata.ts
  implementation/feather/util/setup.ts
  implementation/jobberknoll/api/mod.ts
  implementation/jobberknoll/api/shared/contracts/account-dto.ts
  implementation/jobberknoll/api/shared/docs.ts
  implementation/jobberknoll/deno.json
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Fix import issues
  implementation/feather/README.md
  implementation/feather/api.ts
  implementation/feather/routes/health-route.ts
  implementation/jobberknoll/api/mod.ts
  implementation/jobberknoll/api/shared/docs.ts
  implementation/jobberknoll/deno.json
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add post add fine
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/service/CreditCardInfoService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/controller/FineController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/Fine.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineCreateDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/service/FineService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/seeder/DatabaseSeeder.java
  implementation/inferius/src/main/resources/application.yml
Owners: @piterek130

fix integration tests
  implementation/clabbert/src/integration/resources/application.properties
Owners: @jakubzehner

Add verify
  implementation/feather/api.ts
  implementation/feather/compose.yml
  implementation/feather/contracts/access-token-dto.ts
  implementation/feather/contracts/mod.ts
  implementation/feather/deno.lock
  implementation/feather/routes/health-route.ts
  implementation/feather/routes/verify-route.ts
  implementation/feather/util/setup.ts
  implementation/jobberknoll/api/mod.ts
  implementation/jobberknoll/api/shared/docs.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Infrastructure
  infrastructure/.gitignore
  infrastructure/README.md
  infrastructure/ansible/ansible.cfg
  infrastructure/ansible/setup_deployment.yaml
  infrastructure/eks/config-maps.yaml
  infrastructure/eks/deployments/clabbert.yaml
  infrastructure/eks/deployments/inferius.yaml
  infrastructure/eks/deployments/jobberknoll.yaml
  infrastructure/eks/deployments/leprechaun.yaml
  infrastructure/eks/deployments/phoenix.yaml
  infrastructure/eks/gateway.yaml
  infrastructure/eks/secrets/.gitkeep
  infrastructure/eks/services.yaml
  infrastructure/scripts/build_images.sh
  infrastructure/scripts/seed_db.sh
  infrastructure/terraform/.gitignore
  infrastructure/terraform/.terraform.lock.hcl
  infrastructure/terraform/ansible_config.tf
  infrastructure/terraform/database.tf
  infrastructure/terraform/ec2.tf
  infrastructure/terraform/main.tf
  infrastructure/terraform/secrets.tf
  infrastructure/terraform/vpc.tf
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Remove .gitkeep
  infrastructure/eks/secrets/.gitkeep
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add new validation
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/controller/FineController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineCreateDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/UUIDv7Deserializer.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/GlobalExceptionHandler.java
  implementation/inferius/src/main/resources/application.yml
Owners: @piterek130

Fix Docker
  implementation/feather/.vscode/extensions.json
  implementation/feather/.vscode/settings.json
  implementation/feather/Dockerfile
  implementation/feather/README.md
  implementation/feather/compose.yml
  implementation/feather/deno.json
  implementation/feather/jwks-provider/jobberknoll-jwks-provider.ts
  implementation/feather/jwks-provider/jwks-provider.ts
  implementation/feather/jwks-provider/mock-jwks-provider.ts
  implementation/feather/main.ts
  implementation/feather/routes/verify-route.ts
  implementation/feather/util/env.ts
  implementation/feather/util/setup.ts
  implementation/jobberknoll/README.md
  implementation/jobberknoll/app/security/redaction.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: Implement Feather (#77)
  implementation/feather/.vscode/extensions.json
  implementation/feather/.vscode/settings.json
  implementation/feather/Dockerfile
  implementation/feather/README.md
  implementation/feather/api.ts
  implementation/feather/compose.yml
  implementation/feather/contracts/access-token-dto.ts
  implementation/feather/contracts/health-dto.ts
  implementation/feather/contracts/mod.ts
  implementation/feather/contracts/verification-dto.ts
  implementation/feather/deno.json
  implementation/feather/deno.lock
  implementation/feather/jwks-provider/jobberknoll-jwks-provider.ts
  implementation/feather/jwks-provider/jwks-provider.ts
  implementation/feather/jwks-provider/mock-jwks-provider.ts
  implementation/feather/main.ts
  implementation/feather/routes/health-route.ts
  implementation/feather/routes/verify-route.ts
  implementation/feather/setup.ts
  implementation/feather/util/env.ts
  implementation/feather/util/metadata.ts
  implementation/feather/util/setup.ts
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/mod.ts
  implementation/jobberknoll/api/shared/contracts/account-dto.ts
  implementation/jobberknoll/app/security/redaction.ts
  implementation/jobberknoll/deno.json
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add put update credit card
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/controller/CreditCardInfoController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardInfoRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/UpdateCreditCardDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/service/CreditCardInfoService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/controller/FineController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/UserRole.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/UserRoles.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/UserHeaderInterceptor.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/controller/WalletController.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/CreditCardInfoControllerTest.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/exceptions/UserHeaderInterceptorTest.java
Owners: @piterek130

add delete credit card
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/controller/CreditCardInfoController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/service/CreditCardInfoService.java
Owners: @piterek130

implement endpoints endpoint and update contract
  documentation/contracts.md
  implementation/clabbert/README.md
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/EndpointInfo.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/controllers/internal/.gitkeep
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/controllers/internal/v1/EndpointsController.java
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add post create new credit card
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/controller/CreditCardInfoController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreateCreditCardDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardInfo.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/service/CreditCardInfoService.java
Owners: @piterek130

CODEOWNERS:

* @tchojnacki @jakubzehner @mlodybercik @piterek130 
/implementation/jobberknoll @tchojnacki
/implementation/clabbert @jakubzehner
/implementation/leprechaun @mlodybercik
/implementation/inferius @piterek130
