Repository PWR-ACS-SE-24/SoftwareSystemDesign, changes with the owners that CODEOWNERS names for each.
All owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

CODEOWNERS:

* @tchojnacki @jakubzehner @mlodybercik @piterek130 
/implementation/jobberknoll @tchojnacki
/implementation/clabbert @jakubzehner
/implementation/leprechaun @mlodybercik
/implementation/inferius @piterek130

improved swagger experience
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/EndpointInfo.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ErrorDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticket/CreateTicketDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticket/InspectTicketDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticket/InspectionDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticket/TicketDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticket/ValidateTicketDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticket/ValidationDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticketoffer/CreateTicketOfferDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticketoffer/LongTermOfferDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticketoffer/SingleFareOfferDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticketoffer/TicketOfferDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticketoffer/TimeLimitedOfferDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticketoffer/UpdateTicketOfferDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/controllers/external/v1/TicketOffersController.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/controllers/external/v1/TicketsController.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/controllers/internal/v1/EndpointsController.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/configurations/OpenApiConfig.java
Owners: @jakubzehner

Update implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/domain/exceptions/ticket/TicketAlreadyValidatedException.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/domain/exceptions/ticket/TicketAlreadyValidatedException.java
Owners: @jakubzehner

Update documentation/contracts.md
  documentation/contracts.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Adjust libargon dylib opening
  implementation/feather/Dockerfile
  implementation/feather/README.md
  implementation/feather/deno.json
  implementation/jobberknoll/app/security/libargon2.ts
  implementation/jobberknoll/app/security/passwords.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

fixes
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/ticketoffer/UpdateTicketOfferDto.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/controllers/external/v1/TicketOffersController.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/mappers/TicketOfferMapper.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/validators/implementations/TicketOfferValidator.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/abstractions/ticketoffer/TicketOfferKind.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/abstractions/ticketoffer/TicketOfferType.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/modules/ticketoffer/create/CreateTicketOfferHandler.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/modules/ticketoffer/create/CreateTicketOfferReq.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/modules/ticketoffer/update/UpdateTicketOfferByIdHandler.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/application/modules/ticketoffer/update/UpdateTicketOfferByIdReq.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/domain/exceptions/ticket/TicketAlreadyValidatedException.java
Owners: @jakubzehner

Adjust libargon dylib opening (#80)
  implementation/feather/Dockerfile
  implementation/feather/README.md
  implementation/feather/deno.json
  implementation/jobberknoll/app/security/libargon2.ts
  implementation/jobberknoll/app/security/passwords.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Draft od E3 docs
  documentation/course/e3/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Update documentation typos
  documentation/course/e3/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Working EKS cluster!
  implementation/leprechaun/src/config/config.ts
  infrastructure/README.md
  infrastructure/ansible/ansible.cfg
  infrastructure/ansible/setup_deployment.yaml
  infrastructure/scripts/build_images.sh
  infrastructure/scripts/seed_db.sh
  infrastructure/terraform/ansible_config.tf
  infrastructure/terraform/cluster.tf
  infrastructure/terraform/database.tf
  infrastructure/terraform/ec2.tf
  infrastructure/terraform/main.tf
  infrastructure/terraform/vpc.tf
Owners: @mlodybercik, @tchojnacki, @jakubzehner, @piterek130

fixes
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreateCreditCardDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineCreateDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/service/FineService.java
Owners: @piterek130

PR: `DevOps` basic infrastructure implementation (#79)
  implementation/leprechaun/src/config/config.ts
  infrastructure/.gitignore
  infrastructure/README.md
  infrastructure/eks/config-maps.yaml
  infrastructure/eks/deployments/clabbert.yaml
  infrastructure/eks/deployments/inferius.yaml
  infrastructure/eks/deployments/jobberknoll.yaml
  infrastructure/eks/deployments/leprechaun.yaml
  infrastructure/eks/deployments/phoenix.yaml
  infrastructure/eks/gateway.yaml
  infrastructure/eks/services.yaml
  infrastructure/scripts/build_images.sh
  infrastructure/scripts/seed_db.sh
  infrastructure/terraform/.gitignore
  infrastructure/terraform/.terraform.lock.hcl
  infrastructure/terraform/cluster.tf
  infrastructure/terraform/database.tf
  infrastructure/terraform/main.tf
  infrastructure/terraform/secrets.tf
  infrastructure/terraform/vpc.tf
Owners: @mlodybercik, @tchojnacki, @jakubzehner, @piterek130

PR: Inferius Endpoints (#78)
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/controller/CreditCardInfoController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreateCreditCardDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardInfo.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/CreditCardInfoRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/database/UpdateCreditCardDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/service/CreditCardInfoService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/controller/FineController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/Fine.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineCreateDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/database/FineRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/service/FineService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/UUIDv7Deserializer.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/UserRole.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/UserRoles.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/GlobalExceptionHandler.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/InfoHeaderInterceptor.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/ResourceNotFoundException.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/shared/exceptions/UserHeaderInterceptor.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/controller/WalletController.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletHistoryDto.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletHistoryRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/WalletRepository.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/service/WalletService.java
  implementation/inferius/src/main/resources/application.properties
  implementation/inferius/src/main/resources/application.yml
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/CreditCardInfoControllerTest.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/exceptions/InfoHeaderInterceptorTest.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/exceptions/UnauthorizedExceptionTest.java
  implementation/inferius/src/test/java/pwr/jakprzyjade/inferius/exceptions/UserHeaderInterceptorTest.java
  implementation/phoenix/compose.yml
  implementation/phoenix/src/main/resources/application.properties
  implementation/phoenix/src/main/resources/application.yml
Owners: @piterek130, @tchojnacki, @jakubzehner, @mlodybercik

Shorten build time
  implementation/clabbert/.dockerignore
  implementation/clabbert/Dockerfile
Owners: @jakubzehner

add authorization filter to api gateway
  implementation/phoenix/src/main/java/com/example/phoenix/AuthorizationFilter.java
  implementation/phoenix/src/main/resources/application.properties
  implementation/phoenix/src/main/resources/application.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add env variables to compose
  implementation/phoenix/compose.yml
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

change
  implementation/phoenix/src/main/java/com/example/phoenix/AuthorizationFilter.java
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

improve dockerfile
  implementation/clabbert/Dockerfile
Owners: @jakubzehner

add readme to inferius
  implementation/inferius/README.md
Owners: @piterek130

Update documentation
  documentation/course/README.md
  documentation/course/e3/README.md
  documentation/course/e3/images/gh-actions.png
  implementation/feather/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Fix note
  documentation/course/e3/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: `clabbert` change `Dockerfile` to improve build times (#83)
  implementation/clabbert/.dockerignore
  implementation/clabbert/Dockerfile
Owners: @jakubzehner

Update documentation/course/e3/README.md
  documentation/course/e3/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

int/v1/endpoints fixes + roles to lower case
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/EndpointInfo.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/controllers/internal/v1/EndpointsController.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/configurations/OpenApiConfig.java
Owners: @jakubzehner

Add Swagger and testing docs
  documentation/course/e3/README.md
  documentation/course/e3/images/coverage-jobberknoll.png
  documentation/course/e3/images/gh-milestones.png
  documentation/course/e3/images/swagger-clabbert-ext.png
  documentation/course/e3/images/swagger-clabbert-int.png
  documentation/course/e3/images/swagger-feather-int.png
  documentation/course/e3/images/swagger-inferius-ext.png
  documentation/course/e3/images/swagger-jobberknoll-ext.png
  documentation/course/e3/images/swagger-jobberknoll-int.png
  documentation/course/e3/images/swagger-leprechaun-ext.png
  documentation/course/e3/images/swagger-leprechaun-int.png
  documentation/course/e3/images/zap.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add copyright
  documentation/course/e2b/README.md
  documentation/course/e3/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Clabbert - Internal endpoint fix (#85)
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/contracts/EndpointInfo.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/api/controllers/internal/v1/EndpointsController.java
  implementation/clabbert/src/main/java/pwr/jakprzyjade/clabbert/configurations/OpenApiConfig.java
Owners: @jakubzehner

clabbert test and coverage
  documentation/course/e3/README.md
  documentation/course/e3/images/coverage-clabbert.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add adr004
  documentation/adrs/004-clabbert-sidenumber-in-validation-table.md
  documentation/course/e3/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add leprechaun coverage and infrastructure overview
  documentation/course/e3/README.md
  documentation/course/e3/images/coverage-leprechaun.png
  documentation/course/e3/images/infrastructure.drawio.svg
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update phoenix
  implementation/phoenix/pom.xml
  implementation/phoenix/src/main/java/com/example/phoenix/AppError.java
  implementation/phoenix/src/main/java/com/example/phoenix/AuthorizationFilter.java
  implementation/phoenix/src/main/resources/application.properties
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Implement account load testing
  implementation/load-testing/.gitignore
  implementation/load-testing/accounts.k6.ts
  implementation/load-testing/package-lock.json
  implementation/load-testing/package.json
  implementation/load-testing/report.html
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add load tests
  documentation/course/e3/README.md
  documentation/course/e3/images/k6-accounts.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Implement account load testing (#86)
  implementation/load-testing/.gitignore
  implementation/load-testing/accounts.k6.ts
  implementation/load-testing/package-lock.json
  implementation/load-testing/package.json
  implementation/load-testing/report.html
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

clear
  implementation/inferius/README.md
  implementation/inferius/pom.xml
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/service/CreditCardInfoService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/service/FineService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/Wallet.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/service/WalletService.java
Owners: @piterek130

PR: Phoenix authorization filter (#84)
  implementation/inferius/README.md
  implementation/inferius/pom.xml
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/creditcardinfo/service/CreditCardInfoService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/fine/service/FineService.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/database/Wallet.java
  implementation/inferius/src/main/java/pwr/jakprzyjade/inferius/wallet/service/WalletService.java
  implementation/phoenix/compose.yml
  implementation/phoenix/pom.xml
  implementation/phoenix/src/main/java/com/example/phoenix/AppError.java
  implementation/phoenix/src/main/java/com/example/phoenix/AuthorizationFilter.java
  implementation/phoenix/src/main/resources/application.yml
Owners: @piterek130, @tchojnacki, @jakubzehner, @mlodybercik

add info for inferius
  documentation/course/e3/README.md
  documentation/course/e3/images/coverage-inferius.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update
  documentation/course/e3/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update gh milestones
  documentation/course/e3/images/gh-milestones.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Update code volumes
  documentation/course/e3/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: E3 README (#81)
  documentation/adrs/004-clabbert-sidenumber-in-validation-table.md
  documentation/course/README.md
  documentation/course/e2b/README.md
  documentation/course/e3/README.md
  documentation/course/e3/images/coverage-clabbert.png
  documentation/course/e3/images/coverage-inferius.png
  documentation/course/e3/images/coverage-jobberknoll.png
  documentation/course/e3/images/coverage-leprechaun.png
  documentation/course/e3/images/gh-actions.png
  documentation/course/e3/images/gh-milestones.png
  documentation/course/e3/images/infrastructure.drawio.svg
  documentation/course/e3/images/k6-accounts.png
  documentation/course/e3/images/swagger-clabbert-ext.png
  documentation/course/e3/images/swagger-clabbert-int.png
  documentation/course/e3/images/swagger-feather-int.png
  documentation/course/e3/images/swagger-inferius-ext.png
  documentation/course/e3/images/swagger-jobberknoll-ext.png
  documentation/course/e3/images/swagger-jobberknoll-int.png
  documentation/course/e3/images/swagger-leprechaun-ext.png
  documentation/course/e3/images/swagger-leprechaun-int.png
  documentation/course/e3/images/zap.png
  implementation/feather/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130
