Repository PWR-ACS-SE-24/SoftwareSystemDesign, changes with the owners that CODEOWNERS names for each.
All owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add architectonic approaches
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Prepare E2b
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: Prepare E2b (#66)
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add sc7 and sc8
  documentation/course/e2b/README.md
  documentation/course/e2b/images/SC7.png
  documentation/course/e2b/images/SC8.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Change Argon2id from a static to dynamic library
  implementation/jobberknoll/Dockerfile
  implementation/jobberknoll/app/security/libargon2.ts
  implementation/jobberknoll/app/security/passwords.ts
  implementation/jobberknoll/deno.json
  implementation/jobberknoll/deno.lock
Owners: @tchojnacki

Update documentation
  .github/workflows/jobberknoll.yml
  documentation/adrs/003-password-hashing.md
  implementation/jobberknoll/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Update password hashing contributors
  documentation/adrs/003-password-hashing.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: Password security (#65)
  documentation/adrs/003-password-hashing.md
  documentation/course/e3/README.md
  implementation/jobberknoll/Dockerfile
  implementation/jobberknoll/README.md
  implementation/jobberknoll/app/security/hash.test.ts
  implementation/jobberknoll/app/security/libargon2.ts
  implementation/jobberknoll/app/security/mod.ts
  implementation/jobberknoll/app/security/passwords.test.ts
  implementation/jobberknoll/app/security/passwords.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.test.ts
  implementation/jobberknoll/app/use-cases/create-account-use-case.ts
  implementation/jobberknoll/app/use-cases/edit-account-password-use-case.test.ts
  implementation/jobberknoll/app/use-cases/edit-account-password-use-case.ts
  implementation/jobberknoll/app/use-cases/register-use-case.test.ts
  implementation/jobberknoll/app/use-cases/register-use-case.ts
  implementation/jobberknoll/core/shared/mocks.ts
  implementation/jobberknoll/deno.json
  implementation/jobberknoll/infra/account-repo/postgres-account-repo.ts
  implementation/jobberknoll/setup.ts
  implementation/jobberknoll/tests/delete-self-e2e.test.ts
  implementation/jobberknoll/tests/edit-account-password-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-name-e2e.test.ts
  implementation/jobberknoll/tests/edit-self-phone-e2e.test.ts
  implementation/jobberknoll/tests/get-self-e2e.test.ts
  implementation/jobberknoll/tests/health-e2e.test.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

post review fix
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

E2B: SC7 and SC8 (#67)
  documentation/course/e2b/README.md
  documentation/course/e2b/images/SC7.png
  documentation/course/e2b/images/SC8.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

SC5, SC6 and minor visual improvements
  documentation/course/e2b/README.md
  documentation/course/e2b/images/SC5-1.png
  documentation/course/e2b/images/SC5-2.png
  documentation/course/e2b/images/SC6.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Describe SC1 and SC2
  documentation/course/e2b/README.md
  documentation/course/e2b/images/SC1+2.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

SC3 and SC4
  documentation/course/e2b/README.md
  documentation/course/e2b/images/SC3.png
  documentation/course/e2b/images/SC4-1.png
  documentation/course/e2b/images/SC4-2.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

update descriptions
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: SC3 and SC4 (#70)
  documentation/course/e2b/README.md
  documentation/course/e2b/images/SC3.png
  documentation/course/e2b/images/SC4-1.png
  documentation/course/e2b/images/SC4-2.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Address review comments
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

E2B: SC1 and SC2 (#69)
  documentation/course/e2b/README.md
  documentation/course/e2b/images/SC1+2.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

weird bug perhaps?
  implementation/leprechaun/README.md
  implementation/leprechaun/src/accident/controller/accident.dto.ts
  implementation/leprechaun/src/accident/test/accident.controller.spec.ts
  implementation/leprechaun/src/internal/controller/internal-vehicles.controller.ts
  implementation/leprechaun/src/internal/internal.module.ts
  implementation/leprechaun/src/internal/test/internal-vehicles.controller.spec.ts
  implementation/leprechaun/src/line/controller/line.controller.ts
  implementation/leprechaun/src/route/controller/route.controller.ts
  implementation/leprechaun/src/route/controller/route.dto.ts
  implementation/leprechaun/src/route/database/route.entity.ts
  implementation/leprechaun/src/route/service/route.service.ts
  implementation/leprechaun/src/route/test/route.controller.spec.ts
  implementation/leprechaun/src/shared/api/api-invalid-schema.decorator.ts
  implementation/leprechaun/src/shared/test/helpers.ts
  implementation/leprechaun/src/shared/test/is-not-in-future.validator.spec.ts
  implementation/leprechaun/src/stop/controller/stop.controller.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.controller.ts
  implementation/leprechaun/src/vehicle/controller/vehicle.dto.ts
Owners: @mlodybercik

Prepare Feather's documentation
  documentation/course/e2/README.md
  implementation/feather/.gitignore
  implementation/feather/Dockerfile
  implementation/feather/README.md
  implementation/feather/compose.yml
  implementation/feather/deno.json
  implementation/feather/deno.lock
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add Feather's CI/CD
  .github/workflows/feather.yml
  implementation/feather/main.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

I hate quantifiable nouns :p
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

PR: Initialize Feather's project (#71)
  .github/workflows/feather.yml
  documentation/adrs/001-jobberknoll-api-structure.md
  documentation/course/e2/README.md
  implementation/feather/.gitignore
  implementation/feather/Dockerfile
  implementation/feather/README.md
  implementation/feather/api.ts
  implementation/feather/compose.yml
  implementation/feather/contracts/health-dto.ts
  implementation/feather/contracts/mod.ts
  implementation/feather/contracts/verification-dto.ts
  implementation/feather/deno.json
  implementation/feather/deno.lock
  implementation/feather/jwks-provider/jobberknoll-jwks-provider.ts
  implementation/feather/jwks-provider/jwks-provider.ts
  implementation/feather/jwks-provider/mock-jwks-provider.ts
  implementation/feather/jwks-provider/mod.ts
  implementation/feather/main.ts
  implementation/feather/routes/health-route.ts
  implementation/feather/routes/mod.ts
  implementation/feather/routes/verify-route.ts
  implementation/feather/setup.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Unify look
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Remove TODO's
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

E2B: SC5 and SC6 (#68)
  documentation/course/e2b/README.md
  documentation/course/e2b/images/SC5-1.png
  documentation/course/e2b/images/SC5-2.png
  documentation/course/e2b/images/SC6.png
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

added entities
  implementation/inferius/pom.xml
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/controller/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/controller/CreditCardInfoController.java
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/database/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/database/CreditCardInfo.java
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/service/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/service/CreditCardInfoService.java
  implementation/inferius/src/main/java/com/example/inferius/fine/controller/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/fine/controller/FineController.java
  implementation/inferius/src/main/java/com/example/inferius/fine/database/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/fine/database/Fine.java
  implementation/inferius/src/main/java/com/example/inferius/fine/database/FineReason.java
  implementation/inferius/src/main/java/com/example/inferius/fine/database/FineStatus.java
  implementation/inferius/src/main/java/com/example/inferius/fine/service/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/fine/service/FineService.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/Wallet.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/WalletHistory.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/service/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/wallet/service/WalletService.java
Owners: @piterek130

added UUIDv7 generator
  implementation/inferius/pom.xml
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/database/CreditCardInfo.java
  implementation/inferius/src/main/java/com/example/inferius/fine/database/Fine.java
  implementation/inferius/src/main/java/com/example/inferius/internal/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/internal/UUIDv7.java
  implementation/inferius/src/main/java/com/example/inferius/internal/UUIDv7Generator.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/Wallet.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/WalletHistory.java
Owners: @piterek130

update entities
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/database/CreditCardInfo.java
  implementation/inferius/src/main/java/com/example/inferius/fine/database/Fine.java
  implementation/inferius/src/main/java/com/example/inferius/internal/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/shared/.gitkeep
  implementation/inferius/src/main/java/com/example/inferius/shared/UUIDv7.java
  implementation/inferius/src/main/java/com/example/inferius/shared/UUIDv7Generator.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/Wallet.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/WalletHistory.java
Owners: @piterek130

Set up JwtHandler
  .github/workflows/feather.yml
  implementation/jobberknoll/.gitignore
  implementation/jobberknoll/app/security/jwt.test.ts
  implementation/jobberknoll/app/security/jwt.ts
  implementation/jobberknoll/app/security/mod.ts
  implementation/jobberknoll/app/security/redaction.test.ts
  implementation/jobberknoll/app/security/redaction.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/shared/env.test.ts
  implementation/jobberknoll/app/shared/env.ts
  implementation/jobberknoll/compose.yml
  implementation/jobberknoll/deno.json
  implementation/jobberknoll/deno.lock
  implementation/jobberknoll/setup.ts
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add conclusions
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

Add conclusions (#73)
  documentation/course/e2b/README.md
Owners: @tchojnacki, @jakubzehner, @mlodybercik, @piterek130

add exceptions
  implementation/inferius/src/main/java/com/example/inferius/creditcardinfo/database/CreditCardInfo.java
  implementation/inferius/src/main/java/com/example/inferius/fine/database/Fine.java
  implementation/inferius/src/main/java/com/example/inferius/shared/UUIDv7Validator.java
  implementation/inferius/src/main/java/com/example/inferius/shared/WebConfig.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/AppError.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/GlobalExceptionHandler.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/InfoHeaderInterceptor.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/UserHeaderInterceptor.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/UserIdHeaderMissingException.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/UserIdHeaderNotValidException.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/UserRole.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/UserRoleHeaderMissingException.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/UserRoleNotSupportedException.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/UserRoles.java
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/UserUnauthorizedException.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/controller/WalletController.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/Wallet.java
  implementation/inferius/src/main/java/com/example/inferius/wallet/database/WalletHistory.java
Owners: @piterek130

Implement the JWKS endpoint
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/int/contracts/jwks-dto.ts
  implementation/jobberknoll/api/int/contracts/mod.ts
  implementation/jobberknoll/api/int/int-controller.ts
  implementation/jobberknoll/api/int/routes/get-jwks-route.ts
  implementation/jobberknoll/api/int/routes/mod.ts
  implementation/jobberknoll/app/security/jwt.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/use-cases/delete-account-use-case.ts
  implementation/jobberknoll/app/use-cases/edit-account-name-use-case.ts
  implementation/jobberknoll/app/use-cases/edit-account-phone-use-case.ts
  implementation/jobberknoll/app/use-cases/get-account-by-id-use-case.test.ts
  implementation/jobberknoll/app/use-cases/get-account-by-id-use-case.ts
  implementation/jobberknoll/app/use-cases/get-health-use-case.ts
  implementation/jobberknoll/app/use-cases/get-jwks-use-case.test.ts
  implementation/jobberknoll/app/use-cases/get-jwks-use-case.ts
  implementation/jobberknoll/app/use-cases/mod.ts
  implementation/jobberknoll/app/use-cases/register-use-case.ts
  implementation/jobberknoll/app/use-cases/use-case.ts
  implementation/jobberknoll/tests/jwks-e2e.test.ts
Owners: @tchojnacki

Implement token revocation
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/api/ext/routes/revoke-tokens-route.ts
  implementation/jobberknoll/api/int/contracts/jwks-dto.ts
  implementation/jobberknoll/api/int/routes/get-endpoints-route.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/use-cases/mod.ts
  implementation/jobberknoll/app/use-cases/revoke-tokens-use-case.test.ts
  implementation/jobberknoll/app/use-cases/revoke-tokens-use-case.ts
Owners: @tchojnacki

Mock time in tests
  implementation/jobberknoll/app/security/jwt.test.ts
  implementation/jobberknoll/deno.json
  implementation/jobberknoll/deno.lock
Owners: @tchojnacki

Implement login use case
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/contracts/login-dto.ts
  implementation/jobberknoll/api/ext/contracts/mod.ts
  implementation/jobberknoll/api/ext/contracts/tokens-dto.ts
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/openapi.ts
  implementation/jobberknoll/api/ext/routes/login-route.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/api/int/routes/get-endpoints-route.ts
  implementation/jobberknoll/app/interfaces/account-repo.ts
  implementation/jobberknoll/app/security/jwt.test.ts
  implementation/jobberknoll/app/security/jwt.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/use-cases/login-use-case.test.ts
  implementation/jobberknoll/app/use-cases/login-use-case.ts
  implementation/jobberknoll/app/use-cases/mod.ts
  implementation/jobberknoll/app/use-cases/revoke-tokens-use-case.ts
  implementation/jobberknoll/infra/account-repo/memory-account-repo.test.ts
  implementation/jobberknoll/infra/account-repo/memory-account-repo.ts
  implementation/jobberknoll/infra/account-repo/postgres-account-repo.ts
  implementation/jobberknoll/tests/login-e2e.test.ts
Owners: @tchojnacki

add tests for exeptions
  implementation/inferius/src/main/java/com/example/inferius/shared/exceptions/GlobalExceptionHandler.java
  implementation/inferius/src/test/java/com/example/inferius/InfoHeaderInterceptorTest.java
  implementation/inferius/src/test/java/com/example/inferius/UnauthorizedExceptionTest.java
  implementation/inferius/src/test/java/com/example/inferius/UserHeaderInterceptorTest.java
Owners: @piterek130

Implement refresh
  implementation/jobberknoll/README.md
  implementation/jobberknoll/api/ext/contracts/mod.ts
  implementation/jobberknoll/api/ext/contracts/refresh-token-dto.ts
  implementation/jobberknoll/api/ext/ext-controller.ts
  implementation/jobberknoll/api/ext/routes/mod.ts
  implementation/jobberknoll/api/ext/routes/refresh-route.ts
  implementation/jobberknoll/api/ext/routes/revoke-route.ts
  implementation/jobberknoll/api/int/routes/get-endpoints-route.ts
  implementation/jobberknoll/app/security/jwt.test.ts
  implementation/jobberknoll/app/security/jwt.ts
  implementation/jobberknoll/app/service.ts
  implementation/jobberknoll/app/use-cases/login-use-case.test.ts
  implementation/jobberknoll/app/use-cases/mod.ts
  implementation/jobberknoll/app/use-cases/refresh-use-case.test.ts
  implementation/jobberknoll/app/use-cases/refresh-use-case.ts
  implementation/jobberknoll/app/use-cases/revoke-tokens-use-case.test.ts
  implementation/jobberknoll/app/use-cases/revoke-use-case.test.ts
  implementation/jobberknoll/app/use-cases/revoke-use-case.ts
  implementation/jobberknoll/tests/jwks-e2e.test.ts
  implementation/jobberknoll/tests/refresh-e2e.test.ts
Owners: @tchojnacki

Refactor credential error types
  implementation/jobberknoll/api/ext/contracts/invalid-account-data-dto.ts
  implementation/jobberknoll/api/ext/contracts/invalid-credentials-dto.ts
  implementation/jobberknoll/api/ext/contracts/mod.ts
  implementation/jobberknoll/api/ext/contracts/user-unauthorized-dto.ts
  implementation/jobberknoll/api/ext/routes/login-route.ts
  implementation/jobberknoll/api/ext/routes/refresh-route.ts
  implementation/jobberknoll/api/int/routes/get-endpoints-route.ts
  implementation/jobberknoll/app/use-cases/edit-account-password-use-case.test.ts
  implementation/jobberknoll/app/use-cases/login-use-case.test.ts
  implementation/jobberknoll/app/use-cases/login-use-case.ts
  implementation/jobberknoll/app/use-cases/refresh-use-case.test.ts
  implementation/jobberknoll/app/use-cases/refresh-use-case.ts
  implementation/jobberknoll/core/domain/errors/invalid-credentials-error.ts
  implementation/jobberknoll/core/domain/errors/mod.ts
  implementation/jobberknoll/tests/login-e2e.test.ts
  implementation/jobberknoll/tests/refresh-e2e.test.ts
  implementation/jobberknoll/tests/revoke-e2e.test.ts
Owners: @tchojnacki

CODEOWNERS:

* @tchojnacki @jakubzehner @mlodybercik @piterek130 
/implementation/jobberknoll @tchojnacki
/implementation/clabbert @jakubzehner
/implementation/leprechaun @mlodybercik
/implementation/inferius @piterek130
